<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="invalidProviderString" providerName="Not.A.Valid.Provider" connectionString="Data Source=test" />
    <add name="validProviderString" providerName="TestDbProviderFactory.Invariant" connectionString="connection-string" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="TestDbProviderFactory" invariant="TestDbProviderFactory.Invariant"
           description="A provider for testing" type="FormattableSql.Core.Tests.TestUtilities.TestDbProviderFactory, FormattableSql.Core.Tests" />
    </DbProviderFactories>
  </system.data>
</configuration>
